<!-- Google CDN jQuery with a local fallback -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.11.2.min.js"><\/script>')</script>
<!-- Jquery Core Js -->
<script src="/static/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
<script src="/static/vendor/bootstrap/js/bootstrap.js"></script>

<!-- Select Plugin Js -->
<script src="/static/vendor/bootstrap-select/js/bootstrap-select.js"></script>

<!-- Slimscroll Plugin Js -->
<script src="/static/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>

<!-- Waves Effect Plugin Js -->
<script src="/static/vendor/node-waves/waves.js"></script>

<!-- Jquery CountTo Plugin Js -->
<script src="/static/vendor/jquery-countto/jquery.countTo.js"></script>

<!-- Morris Plugin Js -->
<script src="/static/vendor/raphael/raphael.min.js"></script>
<script src="/static/vendor/morrisjs/morris.js"></script>

<!-- ChartJs -->
<script src="/static/vendor/chartjs/Chart.bundle.js"></script>

<!-- Flot Charts Plugin Js -->
<script src="/static/vendor/flot-charts/jquery.flot.js"></script>
<script src="/static/vendor/flot-charts/jquery.flot.resize.js"></script>
<script src="/static/vendor/flot-charts/jquery.flot.pie.js"></script>
<script src="/static/vendor/flot-charts/jquery.flot.categories.js"></script>
<script src="/static/vendor/flot-charts/jquery.flot.time.js"></script>

<!-- Sparkline Chart Plugin Js -->
<script src="/static/vendor/jquery-sparkline/jquery.sparkline.js"></script>

<!-- Custom Js -->
<script src="/static/js/admin.js"></script>
<script src="/static/js/pages/index.js"></script>

<!-- Demo Js -->
<script src="/static/js/demo.js"></script>

<!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID -->
<script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
