{% extends 'base.html' %}

{% block content %}
<div class="row col-md-6">
    <div class="card">
      <div class="header">
        <h2>
            <span class="font-32 font-bold col-blue-grey">Stations</span>
        </h2>
      </div>
      <div class="body table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th></th>
                      <th>Name</th>
                      <th>Location</th>
                      <th>Date Created</th>
                      <th>Last modified</th>
                  </tr>
              </thead>
              <tbody>
                  {% include 'station_list_page.html' %}
              </tbody>
          </table>
      </div>
  </div>
</div>
{% endblock %}
