{% extends 'base.html' %}

{% block content %}
<div class="row col-md-12">
    <div class="card">
      <div class="header">
        <h2>
            <span class="font-32 font-bold col-blue-grey">Sales</span>
        </h2>
      </div>
      <div class="body table-responsive clearfix">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>Sales Id</th>
                      <th>Sales Date</th>
                      <th>Total Revenue</th>
                      <th>Total Expenses</th>
                      <th>Total Cash</th>
                      <th>Date Created</th>
                      <th>Last modified</th>
                  </tr>
              </thead>
              <tbody>
                  {% include 'sales_list_page.html' %}
              </tbody>
          </table>
      </div>
  </div>
</div>
{% endblock %}
