{% extends 'base.html' %}
{% load get_total %}

{% block content %}
<div class="row col-md-12">
    <div class="card">
      <div class="header">
          <h2>
              <span class="font-32 font-bold col-blue-grey">Sales Details</span>
              <small>Last modified on: {{sales.modified_date|date:"d, M, Y"}}</small>
          </h2>
          <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                  <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <i class="material-icons">more_vert</i>
                  </a>
                  <ul class="dropdown-menu pull-right">
                      <li><a href="#" class="waves-effect waves-block font-bold col-blue-grey">
                        <i class="material-icons">edit</i>
                        Edit</a></li>
                      <li><a data-target="confirmDelete" href="#" class="waves-effect waves-block font-bold col-blue-grey">
                        <i class="material-icons">delete</i>
                        Delete</a></li>
                  </ul>
              </li>
          </ul>
      </div>
      <div class="body table-responsive clearfix">
        <div class="row">
     <div class="col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
         <div class="row">
             <div class="col-xs-6 col-sm-6 col-md-6">
                 <address>
                     <strong>{{sales.station.name}}</strong>
                     <br>
                     {{sales.station.location}}
                 </address>
             </div>
             <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                 <p>
                   <em>Date: {{sales.sales_date}}</em>
                 </p>
                 <p>
                   <em>Receipt #: {{sales.id}}</em>
                 </p>
             </div>
         </div>
         <div class="row">
             <div class="text-center">
               <h1>Receipt</h1>
             </div>
             <table class="table table-hover">
                 <thead>
                     <tr>
                         <th>Product</th>
                         <th>Qty</th>
                         <th class="text-center">Price</th>
                         <th class="text-center">Total</th>
                     </tr>
                 </thead>
                    <tbody>
                      {% for product in Products %}
                     <tr>
                         <td class="col-md-9"><h4><em>{{product.product.name}}</em></h4></td>
                         <td class="col-md-1" style="text-align: center">{{product.quantity}}</td>
                         <td class="col-md-1 text-center">{{product.unit_price}}</td>
                         {% get_total product.quantity product.unit_price as total %}
                         <td class="col-md-1 text-center">{{total}}</td>
                     </tr>
                     {% endfor %}
                     <tr>
                         <td></td>
                         <td></td>
                         <td class="text-right">
                           <p>
                            <strong>Subtotal: </strong>
                           </p></td>
                           <td class="text-center">
                           <p>
                             {% get_total_products as product_sub_total %}
                              <strong>{{product_sub_total}}</strong>
                           </p>
                         </td>
                     </tr>
                     <tr><td>Expenses</td></tr>
                     {% for expense in Expenses %}
                    <tr>
                        <td class="col-md-9"><h4><em>{{expense.name}}</em></h4></td>
                        <td class="col-md-1" style="text-align: center">---</td>
                        <td class="col-md-1 text-center">{{expense.amount}}</td>
                        <td class="col-md-1 text-center">{{expense.amount}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="text-right">
                          <p>
                          {% get_total_expenses as expense_sub_total %}
                           <strong>Subtotal: </strong>
                          </p> </td>
                          <td class="text-center">
                          <p>
                             <strong>{{expense_sub_total}}</strong>
                          </p>
                        </td>
                    </tr>
                     <tr>
                         <td></td>
                         <td></td>
                         <td class="text-right"><h4><strong>Total: </strong></h4></td>
                         <td class="text-center text-danger"><h4><strong>{{sales.total_sales}}</strong></h4></td>

                     </tr>
                 </tbody>
             </table>
         </div>
     </div>
 </div>
      </div>
  </div>
</div>
{% endblock %}
